body {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h1 {
    font-size: 28px;
    color: #152A62;
    text-align: left;
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    margin-top: 0px;
}

h4 {
    margin-bottom: 0px;
}

.stap {
    display: none;
}

.active {
    display: block;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

button.prev, button.next {
    font-size: 16px;
    color: #385168;
    text-decoration: none;
    background-color: #F0F4F8;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    transition: all 0.3s ease;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

button.prev:hover, button.next:hover {
    background-color: #e0e7ed;
    transform: translateY(-2px);
   
}

.highlight-link {
    font-weight: bold;
    background-color: #D9F2FF;
    padding: 5px;
    color: #152A62;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

#logo-container-innovatiemakers {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#logo-container-innovatiemakers img {
    max-width: 100px;
}

#stap-2 #logo-container-innovatiemakers h1 {
    font-size: 28px;
    color: #d35400;
}

#stap-2 .subsection h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

button.go-example, button.go-home {
    font-size: 16px;
    color: #385168;
    background-color: #F0F4F8;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

button.go-example:hover, button.go-home:hover {
    background-color: #e0e7ed;
    transform: translateY(-2px);
}

button.close-tab i, button.go-home i {
    margin-right: 8px;
}

#logo-container-justis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

#logo-container-justis .header-logo {
    background-color: #00588E;
    width: 30px;
    height: 60px;
    margin-right: 10px;
}

#logo-container-justis .header-text {
    font-size: 18px;
    color: #000;
    margin: 0;
}